.input {
  border: 1px solid var(--primary);
  background-color: transparent;
  outline: none;
  border-radius: 3px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--primary);
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 340px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.input::placeholder {
  color: var(--dark);
}

.input[type="search"] {
  border: 1px solid var(--primary);
  border-radius: 3px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.input[type="submit"] {
  cursor: pointer;
}

.input[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--light);
  font-weight: 700;
}

.textarea {
  height: 10rem;
  resize: none;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}